
/* form page fields style attributes */
h3{
    color:wheat;
}


body {
   

    background-color: whitesmoke;
}

#color{
    background-color: rgb(59, 61, 65);
    color:wheat;
}
#colors{
    background-color: rgb(59, 61, 65);
    color:wheat;
}

#content{
  background-color:white;
}

legend {

    font-variant: small-caps;
}

.coloring{
    font-size: small;
    color: green !important;
}

.pay{
  width: 20%;
  height: 20%;
}
.redirect{
  width: 25%;
  height: 15%;
}